<footer class="footer footer-center p-10 bg-base text-base-content rounded">
    <div class="grid grid-flow-col gap-4">
      <a class="link link-hover" href="#about">About</a> 
      <a class="link link-hover" href="#portoflio">Portfolio</a> 
      <a class="link link-hover" href="https://blog.benahmed.tech" target="_blank">Blog</a> 
      <label for='my-modal-4' class="link link-hover">Contact</label> 
    </div> 
    <div>
      <div class="grid grid-flow-col gap-4">
        <a href="https://github.com/sassou5018" target="_blank" class="hover:opacity-60"><img src="github-mark.svg" width="24" height="24"/></a>
        <a href="https://www.linkedin.com/in/yassine-ben-ahmed-b8b0901b3/" target="_blank" class="hover:opacity-60"><img src="linkedin.svg" width="24" height="24" /></a>
        <a href="https://www.facebook.com/yacinnb/" target="_blank" class="hover:opacity-60"><img src="facebook.svg" /></a>
        <a href="https://www.last.fm/user/Yacc5018" target="_blank" class="hover:opacity-60"><img src="last-fm.svg" width="24" height="24" /></a>
      </div>
    </div> 
    <div class="tooltip" data-tip="On every portfolio i make i have to add a tooltip that expresses my utter hatred towards CSS. If you're wondering what i was testing it was Astro's dynamic islands and it's possibly the best thing i've ever tried in my life.">
      <p>© 2022 - Made by me...</p>
      <br/>
      <p>Who else wastes a whole day on a dumb test project...</p>
    </div>
  </footer>