---
export interface props {
    imgUrl: string;
}

const { imgUrl } = Astro.props;
---
<div class="hero min-h-screen " style=`background-image: url(${imgUrl});`>
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <img src="pfp.jpg" alt="me" class="mx-auto mb-4 rounded-full shadow-lg w-64"/>
        <h1 class="mb-5 text-5xl font-bold"><slot name="title"/></h1>
        <p class="mb-5"><slot/></p>
        <slot name="buttons"/>
      </div>
    </div>
  </div>